.middle{
	width: auto;
	margin: 10px 20px 0 20px;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;
	background-image: linear-gradient(whitesmoke, yellow);
	padding: 30px;
	font-family: all;
	}	
	p{
		font-size: 18px;
	}